.dlsxq-title{
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    height: 0.6rem;width: 100%;
    background: #0D76D3;
    margin-top: 0.2rem;
    color: #fff;
    font-size: 0.34rem;
}
.dlsxq-title h1{
    width: 100%;
    text-align: center;
}
.dlsxq-title img{
    margin-right: 0.2rem;
    height: 0.34rem;
    width: 0.82rem;
}
.dlsxq-con{
    height: 2.66rem;width: 100%;
    box-sizing: border-box;
    padding: 0.3rem 0.2rem 0.2rem;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 0.24rem;
    color: #333;
}
.dlsxq-con img{
    border: 1px solid #eee;
    box-sizing: border-box;
    height: 1.64rem;width: 4rem;
}
.dlsxq-con-span{
    height:1.64rem;width: 2.5rem;
    padding-left: 0.3rem;
    border-left: 1px solid #eee;
    box-sizing: border-box;
    margin-left: 0.3rem;
}
.dlsxq-con-span h1{
    height: 0.3rem;
    overflow: hidden;
    width: 100%;
    margin-bottom:0.3rem; 
}
.dlsxq-act{
    color: #EF4B49;
}
.www{
    display: flex;
    font-size: 0.22rem;
    align-items: center;
}
.www h1{
    margin-right: 0.85rem;
}
.dlsxq-btn{
    padding: 0.2rem;
    box-sizing: border-box;
    height: 1rem;width: 100%;
}
.dlsxq-btn button{
    height: 100%;width: 100%;
    background: #0D76D3;
    color: #fff;
    font-size: 0.3rem;
    border-radius: 4px;
    border: none;
    outline: none;
}
.dlsxq-list{
    height: auto;width: 100%;
    box-sizing: border-box;
    background: #fff;
    font-size: 0.26rem;
    padding: 0 0.2rem 0.2rem;
    margin-bottom: 0.2rem;
}
.dlsxq-h1-call{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #BBBBBB;
    height: 0.66rem;
}
/*外汇返佣*/
.dlsxq-w,.dlsxq-y{
    height: auto;width: 100%;
    padding: 0 0.2rem;
    background: #fff;
    box-sizing: border-box;
}
.dlsxq-w>h1{
    font-size:0.3rem;
    font-weight: bold;
    height: 0.75rem;
    line-height: 0.75rem;
}
.dlsxq-w-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dlsxq-w-list{
    color: #333;
    height: 3.9rem;width: 3.4rem;
    border: 1px solid #ccc;
    margin-bottom: 0.2rem;
}
.dlsxq-w-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.dlsxq-w-top img{
    margin-top: 0.2rem;
    height: 1.4rem;width: 3.08rem;
    border: 1px solid #bbb;
}
.dlsxq-w-top h1{
    font-size: 0.2rem;
    height: 0.62rem;
    line-height: 0.62rem;
}
.dlsxq-w-list>h1{
    text-indent: 0.2rem;
    height: 0.66rem;
    line-height: 0.66rem;
    border-top:1px solid #eee; 
    border-bottom:1px solid #eee;
}
.whfy-span{
    margin-left: 0.42rem;
    color: #C70606;
    font-weight: bold;
}
.dlsxq-w-bottom{
    display: flex;
    padding: 0.1rem 0.2rem;
}
.dlsxq-w-icon{
    height: 0.4rem;width: 0.4rem;
    background: url(../../../images/dlsxq_icon.png) no-repeat;
    background-size: cover;
}
.dlsxq-w-bottom>h2{
    width: 2.7rem;
    line-height: 0.4rem;
}
.dlsxq-y>h1{
    height: 0.7rem;line-height: 0.7rem;
    font-size: 0.3rem;font-weight: bold;
    border-bottom: 1px solid #e2e2e2;
}
.shuru{
    height: 1.3rem;width: 100%;
    border: 1px solid #e2e2e2;
    padding: 0.3rem;
    box-sizing: border-box;
    outline: none;
    line-height: 0.4rem;
    margin-top: 0.3rem;
    color: #999;
    resize: none;
    font-size: 0.2rem;
}
.sctp{
    height: 0.74rem;
    font-size: 0.26rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sctp button{
    color: #333;
    width: 1.12rem;height: 0.4rem;
    background: #eee;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    outline: none;
}
.sctp h2{
    font-size: 0.1rem;
    color: #999;
}
.yzm h1,.sctp h1{
    color: #333;
    font-size: 0.24rem;
}
input{
    outline: none;
}
.yzm-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.yzm{
    justify-content: space-between;
    display: flex;
    height: 0.7rem;
    width: 3.35rem;
    align-items: center;
}
.yzm-shuru{
    width: 1.38rem;
    border: 1px solid #ccc;
}
.yzm-box input{
    box-sizing: border-box;
    height: 0.38rem;
}
.yzm-img{
    box-sizing: border-box;
    height: 0.38rem;width: 0.92rem;
    border: 1px solid #000;
    background: url(../../../images/yzm.png) no-repeat;
    background-size: cover;
}
.yzm-click{
    width: 1.5rem;
    color: #FDFBFB;
    border: none;
    background: #A0A0A0;
    border-radius: 4px;
    height: 0.4rem;
}
.speak-box{
    height: auto;width: 100%;
}
.speak{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.speak-img{
    height: 0.82rem;width: 0.82rem;
    border-radius: 50%;
    background: #CCCCCC;
}
.speak-con{
    width: 6.1rem;
    height: 100%;
    padding: 0.2rem 0 0.2rem 0.2rem;
    box-sizing: border-box;
}
.speak-me{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.speak-me h1{
    font-size: 0.28rem;
    color: #000;
    font-weight: bold;
}
.speak-me span{
    color: #999;
    font-size: 0.24rem;
}
.speak-time{
    font-size: 0.28rem;
    color: #999;
}
.speak-main{
    height: auto;width: 100%;
    font-size: 0.29rem;
    color: #333;
    line-height: 0.5rem;
}
.speak-sec{
    padding: 0 0.25rem;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #F2F2F2;
}
.speak-add{
    font-size: 0.24rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.speak-add-name{
    height: auto;
    line-height: 0.4rem;
    width: auto;
    color: #0D76D3;
}
.speak-add-con{
    margin-left: 0.1rem;
    line-height: 0.4rem;
}
.speak-add-more{
    color: #999;
    font-size: 0.24rem;
    width: 100%;
}