<div class="main-box" ng-controller="main">
    <div class="main-title-box" >
        <h1 class="main-title"  ng-repeat="v in main[0]">{{v.title}}</h1>
    </div>
    <div class="main-all-box">
        <h2 class="main-all" ng-repeat="v in main[0]">全部</h2>
    </div>
    <div class="main-list-box">
        <div class="main-list-item" >
            <h2 class="main-list" ng-repeat="v in main[1]">{{v.title}}</h2>
        </div>
        <div class="main-list-item" >
            <h2 class="main-list" ng-repeat="v in main[2]">{{v.title}}</h2>
        </div> 
        <div class="main-list-item" >
            <h2 class="main-list" ng-repeat="v in main[3]">{{v.title}}</h2>
        </div> 
        <div class="main-list-item" >
            <h2 class="main-list" ng-repeat="v in main[4]">{{v.title}}</h2>
        </div> 
        <div class="main-list-item" >
            <h2 class="main-list" ng-repeat="v in main[5]">{{v.title}}</h2>
        </div> 
        <div class="main-list-item" >
            <h2 class="main-list" ng-repeat="v in main[6]">{{v.title}}</h2>
        </div> 
        <div class="main-list-item" >
            <h2 class="main-list" ng-repeat="v in main[7]">{{v.title}}</h2>
        </div> 
    </div>
    <div class="main-more-box">
        <h2 class="main-more" ng-repeat="v in main[0]">更多      ＋</h2>
    </div>   
    <h1 class="main-down">
        ↑ 收起筛选项
    </h1> 
</div>