<div class="dls-box">
    <top-title tit="代理商详情" url="#/dls"></top-title>
    <div class="dlsxq-title">
        <h1>{{dlsItem[nowid].title}}</h1>
        <img src="images/{{dlsItem[nowid].icon}}" alt="">
    </div>
    <div class="dlsxq-con">
        <img src="images/{{dlsItem[nowid].img}}" alt="">
        <div class="dlsxq-con-span">
            <h1>关注:<span class="dlsxq-act"> {{dlsItem[nowid].guanNum}}</span></h1>
            <h1>地区:<span> {{dlsItem[nowid].mapNum}}</span></h1>
            <h1>代理平台:<span>{{dlsItem[nowid].nowPing}}</span></h1>
        </div>
        <div class="www">
            <h1>官方网址 : {{dlsItem[nowid].www}}</h1>
            <a href="" class="call-qq">
                <span class="call-qq-icon"></span>
                <span>联系客服</span>
            </a>
        </div>
    </div>
    <div class="dlsxq-btn">
        <button>立即关注</button>    
    </div>
    <div class="dlsxq-list">
        <dlsxq-call tit="成立时间" con="{{dlsItem[nowid].time}}"></dlsxq-call>
        <dlsxq-call tit="地址" con="{{dlsItem[nowid].dizhi}}"></dlsxq-call>
        <dlsxq-call tit="代理平台" con="{{dlsItem[nowid].nowPing}}{{dlsItem[nowid].nowPingMore}}"></dlsxq-call>
    </div>
    <div class="dlsxq-list">
        <dlsxq-call tit="官方地址" con="{{dlsItem[nowid].www}}"></dlsxq-call>
        <dlsxq-call tit="客服电话" con="{{dlsItem[nowid].tell}}"></dlsxq-call>
        <dlsxq-call tit="客服邮箱" con="{{dlsItem[nowid].email}}"></dlsxq-call>
        <dlsxq-call tit="客服QQ" con="{{dlsItem[nowid].QQ}}"></dlsxq-call>
    </div>
    <!--外汇反佣-->
    <div class="dlsxq-w">
        <h1>外汇返佣</h1>
        <div class="dlsxq-w-box" ng-controller="dlsxq">
            <a href="" class="dlsxq-w-list" ng-repeat="v in dlsxqArr track by $index">
                <div class="dlsxq-w-top">
                    <img src="images/{{v.url}}" alt="">
                    <h1>{{v.title}}</h1>
                </div>
                <h1>外汇返佣<span class="whfy-span">{{v.money}}</span></h1>
                <div class="dlsxq-w-bottom">
                    <div class="dlsxq-w-icon"></div>
                    <h2>优势：{{v.love}}</h2>
                </div>
            </a>
        </div>
    </div>
    <!--用户点评-->
    <div class="dlsxq-y" ng-controller="ly">
        <h1>用户点评</h1>
        <textarea name="" id="" placeholder="在此发表你的评论" class="shuru" ng-model="lyb"></textarea>
        <div class="sctp">
            <h1>上传图片:</h1>
            <button>上传</button>
            <h2>(请上传GIF.JPG,PNG格式图片)</h2>
        </div>
        <div class="yzm-box">
            <div class="yzm">
                <h1>验证码:</h1>
                <input type="text" class="yzm-shuru">
                <div class="yzm-img"></div>
            </div>
            <input type="button" value="发表" class="yzm-click" ng-click="add(ly.length)">
        </div>
        <div class="speak-box">
            <div class="speak" ng-repeat="v in ly track by $index">
                 <div class="speak-img"></div>
                 <div class="speak-con">
                     <div class="speak-me">
                        <h1>某某某:</h1>
                        <span ng-click="sec($index)">回复</span>
                     </div>
                     <div class="speak-time">{{v.time|date:'yyyy年M月'}}</div>
                     <div class="speak-main">{{v.con}}</div>
                     <div class="speak-sec" ng-show="{{ly[v.id-1].sec?true:false}}">
                         <div class="speak-add" ng-repeat="x in v.sec|limitTo:num">
                             <span class="speak-add-name">{{x.name}}</span>
                             <span class="speak-add-con">{{x.con}}</span>
                         </div>
                         <span class="speak-add-more" ng-show="{{ly[v.id-1].sec.length>2?true:false}}" ng-click="more($index)" ng-style="{display:flag}">更多回复></span>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>