.foot-box{
    height: 2.46rem;width: 100%;
    color: #fff;
    font-size: 0.24rem;
    display: flex;
    flex-wrap: wrap;
}
.foot-top{
    padding: 0.3rem 0;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background: #0D76D3;
    flex-wrap: wrap;
    width: 100%;
    height: 1.83rem;
}
.foot-box a{
    height: auto;
    padding: 0.14rem;
    color: #fff;
    font-size: 0.24rem;
    border-radius: 14px;
}
.foot-act{
    background: #0159A6;
}
.foot-btn{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    height: auto;width: 3.1rem;
}
.foot-call{
    text-align: center;
    height: auto;width: 100%;
    font-size: 0.34rem;
}
.copy{
    background: #333;
    height: 0.64rem;width: 100%;
    line-height: 0.64rem;
    text-align: center;
}